First Flow.json
{
  "name": "First Flow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        0
      ],
      "id": "9e86aed9-3989-4b8a-b745-2ad793b1de65",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://geocoding-api.open-meteo.com/v1/search?name=Yangon&count=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        0
      ],
      "id": "b8b42f42-60b7-407b-b2a0-0adc0212a4fd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a72351a2-2718-40b4-99be-5b017408edc8",
              "name": "lat",
              "value": "={{ $json.results[0].latitude }}",
              "type": "number"
            },
            {
              "id": "58ffd709-f6cb-4e5d-9d20-6f48d8aad72d",
              "name": "long",
              "value": "={{ $json.results[0].longitude }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "6f7276ad-6a06-44f5-a263-3421ef968f4d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.lat }}&longitude={{ $json.long }}&current=temperature_2m,relative_humidity_2m,weather_code",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "215e393f-18c2-4e16-bd9c-146eae5c7864",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "fe3578ea-9a50-4314-8232-958724ceede1",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "40d4b389-ca7f-46a8-b00d-54d1ebf83cc0",
  "meta": {
    "instanceId": "ccdaba34c1f977c25a1a7001e323461729bae0a2183d7b9e2e1d1f7a11891adb"
  },
  "id": "LkQ8D5UBRUbOpmAZ",
  "tags": []
}